/* ===================== *\
        VARIABLES
\* ===================== */
:root {
    /*  COLORS  */
    --primary: #00C5D1;
    --secondary: #C8D4E1;
    --grey-light: #B1B1B1;
    --grey: #606060;
    --grey-dark: #303030;
    --bg-grey: #e1e1e1;
    --light: #f1f1f1;
    --white: #f8fafa;

    /* SHADOWS */
    --in-shadow-small: inset 1px 1px 6px #00000060;
    --shadow-small: 4px 4px 8px #00000015;

    /* RADIUS */
    --radius-10: 1rem;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

/* ===================== *\
        TEXT
\* ===================== */

.text {
    font-size: 1.4rem;
}

.h2 {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.h3 {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.h4 {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

/*  COLORS  */
.primary { color: var(--primary) }
.secondary { color: var(--secondary) }
.dark { color: var(--grey-dark) }
.grey { color: var(--grey) }
.white { color: var(--white) }

/* BACKGROUNDS */
.bg-primary { background-color: var(--primary) }
.bg-secondary { background-color: var(--secondary) }
.bg-dark { background-color: var(--grey-dark) }
.bg-grey { background-color: var(--grey) }
.bg-white { background-color: var(--white) }


/* ===================== *\
        SPACES
\* ===================== */
/* PADDING TOP */
.pt-20 {
    padding-top: 2rem;
}
.pt-70 {
    padding-top: 7rem;
}

/* PADDING BOTTOM */
.pb-20 {
    padding-bottom: 2rem;
}
.pb-70 {
    padding-bottom: 7rem;
}

/* PADDING */
.mt-10 {
    margin-top: 1rem;
}
.mb-10 {
    margin-bottom: 1rem;
}

@media screen and (max-width: 1080px) {
    .text {
        font-size: 1.4rem;
    }
}