.body {
    display: grid;
    grid-template-columns: 1fr;
}

/* ===================== *\
        GRID
\* ===================== */

.section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.full {
    grid-column-start: 1;
    grid-column-end: 13;
}

.col-center {
    grid-column: 2 / 12;
}

