.body {
    display: grid;
    grid-template-columns: 1fr;
}

/* ===================== *\
        GRID
\* ===================== */

.section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.full {
    grid-column-start: 1;
    grid-column-end: 13;
}

.col-center {
    grid-column: 2 / 12;
}


/* LOCATION */
.center {
    justify-content: center;
    text-align: center;
}

/* BY COLUMS */
/* (Always has to be inside the section class) */
.col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
}

